
.loading-animation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  // .square {
  //   height: 100px;
  //   width: 100px;
  //   border-radius: 10px;
  //   background-color: #d9d9d9;
  //   border: 2px #afafaf solid;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   z-index: 1000;
  // }

}




